body {
    background: #eee;
    text-align: center;
    /*padding: 0 25px;*/
    font-family: arial, sans-serif;
    display: grid;  
    color: #222;
    /*align-items: center;*/
    grid-template-columns: [first] .5fr [second] 1fr [third] .5fr [end];
    grid-template-rows: [first] 25vmin [second] auto [third] 25vmin[end];
}

#main {
    letter-spacing: 3px;
    font-size: 5vmax;
    font-weight: bold;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: first;
    grid-row-end: first;
    text-align: center;
    align-self: center;
    background: #fff;
    color: #222;
    margin: 2rem;
    text-align: center;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#chats {
    letter-spacing: 3px;
    font-size: 3vmax;
    font-weight: bold;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: second;
    grid-row-end: second;
    
    text-align: center;
    background: #fff;
    color: #222;
    margin: 2rem;
    text-align: center;
    padding: 50px 60px;
    border: solid #ddd;
    border-width: 0 1px 1px 1px;
}

#main h1 {
    margin-top: 0;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
    padding: 20px;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    padding-left: 0;
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    background-color: #eee;
}

.chat .username {
    font-weight: 800;
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.header-button-partymode {
  opacity: .85;
  font-family: "Roboto", sans-serif;
  grid-column-start: sixth;
  grid-column-end: end;
  grid-row-start: second;
  grid-row-end: second;
  text-align: center;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ff0080, 0 0 30px #ff0080, 0 0 40px #ff0080, 0 0 55px red, 0 0 75px #ff0080;
}


.header {

  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  text-decoration: none !important;
}

