body {
    --first-color: #222;
    --second-color: #fff;
    --third-color: red;
    background: var(--first-color);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-family: arial, sans-serif;
    display: grid;  
    color: var(--first-color);
    grid-template-columns: [first] .5fr [second] 1fr [third] .5fr [end];
    grid-template-rows: [first] auto [second] auto [third] 25vmin[end];
}

#main {
    font-family: 'Roboto', sans-serif;
    font-size: 2vmax;
    font-weight: bold;
    grid-column-start: first;
    grid-column-end: end;
    grid-row-start: first;
    grid-row-end: first;
    text-align: center;
    align-self: center;
    background: #fff;
    color: #222;
    margin: 1rem 1rem;
    text-align: center;
    padding: 1rem 1rem;
    border: solid #ddd;
    border-width: 0;
}

#chats {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vmax;
    font-weight: bold;
    grid-column-start: second;
    grid-column-end: end;
    grid-row-start: second;
    grid-row-end: second;
    
    text-align: center;
    background: var(--first-color);
    color: #222;
    margin: 1rem 1rem;
    text-align: center;
    border: solid #ddd;
    border-width: 0;
}

#main h1 {
    margin-top: 0;
    margin-bottom: 5px;
    padding: 5px;
}

#main h1 span {
    font-style:italic;
}

#main ul {
    padding-left: 20px;
}

#main .error {
    border: 1px solid red;
    background: #FDEFF0;
}

#main .success {
    margin-top: 25px;
}

#main .success code {
    font-size: 12px;
    color: green;
    line-height: 13px;
}

form {
    padding: 20px;
    /*padding-left: 0;*/
    margin-bottom: 20px;
}

form input[type=text] {
    margin-right: 10px;
    width: 70%;
    font-size: 12px;
    padding: 5px;
}

.form {
    grid-column-start: first;
    grid-column-end: first;
    grid-row-start: second;
    grid-row-end: third;
    
    text-align: center;
    background: #fff;
    color: #222;
    margin: 1rem 1rem;
    text-align: center;
    padding: 1rem 1rem;
    border: solid #ddd;
    border-width: 0;
}

.chat {
    padding: 5px;
    margin-bottom: 5px;
    /*background-color: #eee;*/
}

.chat:hover {
    background-color: #ddd;
}

.spinner {
    float: right;
    height: 46px;
    margin-bottom: 5px;
}

.spinner img {
    padding: 10px;
}

.friend {
    color: #fff;
    background-color: #0090da;
}

.header {
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    text-decoration: none !important;
}

.username {
    text-align: left;
    font-size: 3rem;
    font-weight: bold;
}

.message {
    margin-bottom: 2rem;
    padding: 2rem 2rem 2rem 2rem;
    background: var(--second-color);
    box-shadow: 5px 5px 5px #222;
}

.send {
    
}

input {
    margin-bottom: 1rem;
}
